<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <script>
      window.__inertia_page__ =
      {{{json __inertia_page__}}};
    </script>
  </head>
  <body>
    <div id="app"></div>
    <script rel="preload" defer type="module" src="/assets/vendors.js"></script>
    <script rel="preload" defer type="module" src="/assets/app.js"></script>
  </body>
</html>