<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
    <script>
      window.__inertia_page__ =
      {{{json __inertia_page__}}};
    </script>
  </head>
  <body>
    <div id="app"></div>
    <script rel="preload" defer type="module" src="/vendor.js"></script>
    <script rel="preload" defer type="module" src="/app.js"></script>
  </body>
</html>
